<h2>Панель покупателя</h2>
<link rel="stylesheet" type="text/css" href="~/Content/Css/CustomerPanel.css" />

<div id="customerPanelVue">
    <alert-modal :msg="alertMsg"
                 :stl="alertClass"
                 v-on:modal-closed="CloseModal()"
                 v-on:modal-submit="CloseModal()">
    </alert-modal>
    <div class="btn-group" role="group">
        <button type="button" v-on:click="ShowMyOrders()" class="btn btn-secondary">Мои заказы</button>
        <button type="button" v-on:click="GetItemList()" class="btn btn-secondary">Список товаров</button>
        <button type="button" v-on:click="GetMyCase()" class="btn btn-secondary">Корзина</button>
    </div>
    <div style="margin-top: .4em;" class="row">
        <div style="margin-top: .2em" class="col-md-9">
            <dfn>Товары</dfn>
            <form id="searchitem">
                <div class="row">
                    <dfn class="col-sm-4">Товары</dfn>
                    <div class="col-sm-4">
                        <label for="sw2">Фильтр по</label>
                        <select id="sw2" class="form-control" v-model="searchItemBy">
                            <option>Id</option>
                            <option>Code</option>
                            <option>Name</option>
                            <option>Price</option>
                            <option>Category</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="inp2">Поиск</label>
                        <input id="inp2" class="form-control" name="query" v-model="searchQueryItem" />
                    </div>
                </div>
            </form>
            <item-grid :items="Items"
                       :columns="GridItemsCols"
                       :by="searchItemBy"
                       :filter-key="searchQueryItem">
            </item-grid>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <div class="card">
                <div class="card-header">
                    Корзина
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="(item, CaseItems) in CaseItems" class="list-group-item">
                        {{item.Name}} price: {{item.Price}}$
                    </li>
                </ul>
                <div class="card-body">
                    <button type="button" class="card-link" v-on:click="CreateOrder()">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: .2em">
        <form id="searchorder">
            <div class="row">
                <dfn class="col-sm-4">Заказы</dfn>
                <div class="col-sm-4">
                    <label for="sw3">Фильтр по</label>
                    <select id="sw3" class="form-control" v-model="searchOrderBy">
                        <option>Id</option>
                        <option>CustomerId</option>
                        <option>OrderDate</option>
                        <option>ShipmentDate</option>
                        <option>OrderNumber</option>
                        <option>Status</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="inp3">Поиск</label>
                    <input id="inp3" class="form-control" name="query" v-model="searchQueryOrder" />
                </div>
            </div>
        </form>
        <order-grid :orders="Orders"
                    :columns="GridOrdersCols"
                    :by="searchOrderBy"
                    :filter-key="searchQueryOrder">
        </order-grid>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Vue/CustomerPanelVue.js"></script>
<script type="text/javascript" src="~/Scripts/Vue/CustomerPanelModalVue.js"></script>
