<h2>Панель покупателя</h2>
<link rel="stylesheet" type="text/css" href="~/Content/Css/CustomerPanel.css" />
<script type="text/x-template" id="items-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    v-on:click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredItems">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
                <td><button type="button" class="btn btn-default" v-on:click="customerPanelVue.AddItemToCase(entry)">add to case</button></td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/x-template" id="orders-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    v-on:click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredOrders">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
                <td><button type="button" class="btn btn-default text-primary" v-on:click="customerPanelVue.CloseOrder(entry)">Close</button></td>
            </tr>
        </tbody>
    </table>
</script>
<div id="customerPanelVue">
    <div class="btn-group" role="group">
        <button type="button" v-on:click="ShowMyOrders()" class="btn btn-secondary">Мои заказы</button>
        <button type="button" v-on:click="GetItemList()" class="btn btn-secondary">Список товаров</button>
        <button type="button" v-on:click="GetMyCase()" class="btn btn-secondary">Корзина</button>
    </div>
    <div style="margin-top: .4em;" class="row">
        <div style="margin-top: .2em" class="col-md-8">
            <dfn>Товары</dfn>
            <item-grid :items="Items"
                       :columns="GridItemsCols"
                       :filter-key="searchQuery">
            </item-grid>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="card">
                <div class="card-header">
                    Корзина
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="(item, CaseItems) in CaseItems" class="list-group-item">
                        {{item.Name}} price: {{item.Price}}$
                    </li>
                </ul>
                <div class="card-body">
                    <button type="button" class="card-link" v-on:click="CreateOrder()">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: .2em">
        <dfn>Заказы</dfn>
        <order-grid :orders="Orders"
                    :columns="GridOrdersCols"
                    :filter-key="searchQuery">
        </order-grid>
    </div>
    <div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="alertModalLabel">Server response</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 v-bind:class="[alertClass]" class="text-center">
                        {{alertMsg}}
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Vue/CustomerPanelVue.js"></script>