<h3>Панель администратора</h3>
<link rel="stylesheet" type="text/css" href="~/Content/Css/AdminPanel.css" />
<script type="text/x-template" id="users-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    v-on:click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredUsers">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
                <td><button type="button" class="btn btn-default" v-on:click="adminPanelVue.StartEditUser(entry)">edit</button></td>
                <td><button type="button" class="btn btn-default text-danger" v-on:click="adminPanelVue.DeleteUser(entry)">delete</button></td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/x-template" id="items-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    v-on:click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredItems">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
                <td><button type="button" class="btn btn-default" v-on:click="adminPanelVue.StartEditItem(entry)">edit</button></td>
                <td><button type="button" class="btn btn-default text-danger" v-on:click="adminPanelVue.DeleteItem(entry)">delete</button></td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/x-template" id="orders-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    v-on:click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredOrders">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
                <td><button type="button" class="btn btn-default text-primary" v-on:click="adminPanelVue.SetInProcessingOrderStatus(entry)">set inProcessing</button></td>
                <td><button type="button" class="btn btn-default text-success" v-on:click="adminPanelVue.SetCompletedOrderStatus(entry)">set completed</button></td>
            </tr>
        </tbody>
    </table>
</script>
<div id="adminPanelVue">
    <div class="btn-group" role="group">
        <button type="button" v-on:click="ShowAllItems()" class="btn btn-secondary">Показать товары</button>
        <button type="button" v-on:click="ShowAllUsers()" class="btn btn-secondary">Показать покупателей</button>
        <button type="button" v-on:click="ShowAllOrders()" class="btn btn-secondary">Показать заказы</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" v-on:click="StartAddNewItem()">Добавить товар</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" v-on:click="StartAddNewUser()">Добавить покупателя</button>
    </div>

    <div style="margin-top: .2em">
        <dfn>Пользователи</dfn>
        <user-grid :users="Users"
                   :columns="GridUsersCols"
                   :filter-key="searchQuery">
        </user-grid>
    </div>
    <div style="margin-top: .2em">
        <dfn>Товары</dfn>
        <item-grid :items="Items"
                   :columns="GridItemsCols"
                   :filter-key="searchQuery">
        </item-grid>
    </div>
    <div style="margin-top: .2em">
        <dfn>Заказы</dfn>
        <order-grid :orders="Orders"
                   :columns="GridOrdersCols"
                   :filter-key="searchQuery">
        </order-grid>
    </div>
    <div class="modal" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="AddUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddUserModalLabel">Пользователь</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="userModal_Name">Имя</label>
                    <input id="userModal_Name" class="form-control" v-model="NewUser.Name" />
                    <label for="userModal_Code">Код</label>
                    <input id="userModal_Code" class="form-control" v-model="NewUser.Code" />
                    <label for="userModal_Address">Адрес</label>
                    <input id="userModal_Address" class="form-control" v-model="NewUser.Address" />
                    <label for="userModal_Discount">Скидка</label>
                    <input id="userModal_Discount" class="form-control" v-model="NewUser.Discount" />
                    <hr />

                    <label for="userModal_Login">Логин</label>
                    <input id="userModal_Login" class="form-control" v-model="NewUser.Login" />
                    <label for="userModal_PasswordHash">Хэш пароля</label>
                    <input id="userModal_PasswordHash" class="form-control" v-model="NewUser.PasswordHash" />
                    <hr />

                    <label for="userModal_ClientRole">Роль (0-админ/1-покупатель)</label>
                    <input id="userModal_ClientRole" class="form-control" v-model="NewUser.ClientRole" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="CompleteUser()" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="AddItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddItemModalLabel">Товар</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="itemModal_Name">Название</label>
                    <input id="itemModal_Name" class="form-control" v-model="NewItem.Name" />

                    <label for="itemModal_Price">Цена</label>
                    <input id="itemModal_Price" class="form-control" v-model="NewItem.Price" />

                    <label for="itemModal_Category">Категория</label>
                    <input id="itemModal_Category" class="form-control" v-model="NewItem.Category" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="CompleteItem()" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="alertModalLabel">Server response</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 v-bind:class="[alertClass]" class="text-center">
                        {{alertMsg}}
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Vue/AdminPanelVue.js"></script>