<h3>Панель администратора</h3>
<link rel="stylesheet" type="text/css" href="~/Content/Css/AdminPanel.css" />

<div id="adminPanelVue">
    <alert-modal :msg="alertMsg"
                 :stl="alertClass"
                 v-on:modal-closed="CloseModal()"
                 v-on:modal-submit="CloseModal()">
    </alert-modal>
    <user-modal :user="NewUser"
                v-on:modal-closed="CloseModal()"
                v-on:modal-submit="CloseModal()">
    </user-modal>
    <item-modal :item="NewItem"
                v-on:modal-closed="CloseModal()"
                v-on:modal-submit="CloseModal()">
    </item-modal>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" v-on:click="StartAddNewItem()">Добавить товар</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" v-on:click="StartAddNewUser()">Добавить покупателя</button>
    </div>

    <div style="margin-top: .2em">
        <form id="searchuser">
            <div class="row">
                <dfn class="col-sm-4">Пользователи</dfn>
                <div class="col-sm-4">
                    <label for="sw1">Фильтр по</label>
                    <select id="sw1" class="form-control" v-model="searchUserBy">
                        <option>CustomerId</option>
                        <option>Name</option>
                        <option>Code</option>
                        <option>Address</option>
                        <option>Discount</option>
                        <option>Login</option>
                        <option>PasswordHash</option>
                        <option>ClientRole</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="inp1">Поиск</label>
                    <input id="inp1" class="form-control" name="query" v-model="searchQueryUser" />
                </div>
            </div>
        </form>
        <user-grid :users="Users"
                   :columns="GridUsersCols"
                   :by="searchUserBy"
                   :filter-key="searchQueryUser">
        </user-grid>
    </div>
    <div style="margin-top: .2em">
        <form id="searchitem">
            <div class="row">
                <dfn class="col-sm-4">Товары</dfn>
                <div class="col-sm-4">
                    <label for="sw2">Фильтр по</label>
                    <select id="sw2" class="form-control" v-model="searchItemBy">
                        <option>Id</option>
                        <option>Code</option>
                        <option>Name</option>
                        <option>Price</option>
                        <option>Category</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="inp2">Поиск</label>
                    <input id="inp2" class="form-control" name="query" v-model="searchQueryItem" />
                </div>
            </div>
        </form>
        <item-grid :items="Items"
                   :columns="GridItemsCols"
                   :by="searchItemBy"
                   :filter-key="searchQueryItem">
        </item-grid>
    </div>
    <div style="margin-top: .2em">
        <form id="searchorder">
            <div class="row">
                <dfn class="col-sm-4">Заказы</dfn>
                <div class="col-sm-4">
                    <label for="sw3">Фильтр по</label>
                    <select id="sw3" class="form-control" v-model="searchOrderBy">
                        <option>Id</option>
                        <option>CustomerId</option>
                        <option>OrderDate</option>
                        <option>ShipmentDate</option>
                        <option>OrderNumber</option>
                        <option>Status</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="inp3">Поиск</label>
                    <input id="inp3" class="form-control" name="query" v-model="searchQueryOrder" />
                </div>
            </div>
        </form>
        <order-grid :orders="Orders"
                    :columns="GridOrdersCols"
                    :by="searchOrderBy"
                    :filter-key="searchQueryOrder">
        </order-grid>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Vue/AdminPanelVue.js"></script>
<script type="text/javascript" src="~/Scripts/Vue/AdminPanelModalVue.js"></script>