<h2>Вход в систему</h2>
<div class="row">
    <div class="col-sm-6">
        <div id="loginvue">
            <div class="form-horizontal">
                <loginpanel>
                    @*Login vue panel*@
                </loginpanel>
                <button type="button" v-show="managPanelBtnShow" class="btn btn-default" v-on:click="adminPanel()">Открыть панель администратора</button>
                <button type="button" v-show="custPanelBtnShow" class="btn btn-default" v-on:click="userPanel()">Открыть панель покупателя</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        @*Default users info*@
        <h3 class="text-primary">Test users</h3>
        <hr />
        <p>Admin user</p>
        <div class="form-group row">
            <label for="adminLogin" class="col-sm-2 col-form-label">Login:</label>
            <h5 id="adminLogin" class="col-sm-10">Admin</h5>
        </div>
        <div class="form-group row">
            <label for="adminPass" class="col-sm-2 col-form-label">Password:</label>
            <h5 id="adminPass" class="col-sm-10">Admin</h5>
        </div>
        <p>Customer user</p>
        <div class="form-group row">
            <label for="customerLogin" class="col-sm-2 col-form-label">Login:</label>
            <h5 id="customerLogin" class="col-sm-10">Customer</h5>
        </div>
        <div class="form-group row">
            <label for="customerPass" class="col-sm-2 col-form-label">Password:</label>
            <h5 id="customerPass" class="col-sm-10">Customer</h5>
        </div>
    </div>
</div>
<div>
    <a id="register" class="btn btn-link" href="/Home/SignIn">Регистрация</a>
</div>

<script type="text/javascript">
    Vue.component("loginpanel", {
	template: '<form><div class="form-group"><label for="login" class="col-sm-2">Логин</label><div id="login" class="col-sm-10"><input v-model="login" class="form-control" /></div></div><div class="form-group"><label for="pass" class="col-sm-2">Пароль</label><div id="pass" class="col-sm-10"><input type="password" v-model="pass" class="form-control" /></div></div><button type="button" class="btn btn-primary" v-on:click="loginUser()"><span v-if="load" class="spinner-border spinner-border-sm"></span>Вход</button></form>',
	props: {
		login: '',
        pass: '',
        load: false
	},
	data: function () {

	},
	methods: {
		Close() {
			this.$emit("modal-closed");
		},
		Submit() {
			this.$emit("modal-submit");
		},
        loginUser: function () {
            this.load = true;
            dataPost = {
				Login: this.login,
                Password: this.pass
			};
			$.ajax({
				type: 'POST',
                data: dataPost,
				url: "/Home/Login",
				success: function (response) {
					if (response.responseStatus == 0) {
                        if (response.Role == 0) {
                            loginvue.custPanelBtnShow = false;
                            loginvue.managPanelBtnShow = true;
                        }
                        else if (response.Role == 1) { 
                            loginvue.custPanelBtnShow = true;
                            loginvue.managPanelBtnShow = false;
                        }
                    }
                    else{
                        alert('Failed login');
                    }
                    this.load = false;
				}
			});
        },
	}
});
    const routes = [
        { path: '/', beforeEnter: () => { window.location.href = '/Admin'; }, name: 'AdminPanel' },
        { path: '/', beforeEnter: () => { window.location.href = '/Customer'; }, name: 'CusomerPanel' },
    ];
    const router = new VueRouter({
        mode: 'history',
        routes: routes
    });

    var loginvue = new Vue({
	el: '#loginvue',
	data:
	{
		login: '',
        pass: '',
        custPanelBtnShow: false,
        managPanelBtnShow: false
	},
	methods:
	{
        userPanel: function(){
            router.push({ name: "CusomerPanel"});
        },
        adminPanel: function(){
            router.push({ name: "AdminPanel"});
        }
	}
});
</script>